<h3>Edit Recipe</h3>
<%= form_for @recipe do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :ingredients %>
  <%= f.text_field :ingredients %>
  <br>
  <%= f.label :method %>
  <%= f.text_field :method %>
  <br>
  <%= f.label :image %>
  <%= f.text_field :image %>
  <br>
  <%= f.submit 'Edit Recipe' %>

<% end %>