

<ul>
<% @recipes.each do |recipe| %>
<li>
<h2><%= link_to("#{recipe.title}", recipe_path(recipe)) %></h2>
<img src="<%= recipe.image %>" width="200px">
<br><br>
<%= recipe.description %><br><br>

<% if recipe.ratings.average(:rating_value) %>
  <% x = recipe.ratings.average(:rating_value).to_i %>
  <% x.times do%>
  <%= image_tag 'star.svg.png', size: "25x25" %>
  <% end %>
<% end %>
<br><br>

<%= link_to("(#{recipe.category.title})", category_path(recipe.category_id)) %><br><br>
</li>
<% end %>
</ul>

