<h3>Add Recipe</h3>
<%= form_for @recipe do |f| %>
  <%= f.label :title %><br>
    <%= f.text_field :title %>
    <br>
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 10, cols: 40 %>
    <br>
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients, rows: 10, cols: 40 %>
    <br>
    <%= f.label :method %><br>
    <%= f.text_area :method, rows: 20, cols: 40 %>
    <br>
    <%= f.label :image %><br>
    <%= f.text_field :image %>
    <br>
    <%= f.label 'Category' %><br>
    <% @categories.each do |c| %>
      <%= f.radio_button(:category_id, "#{c.id}") %>
      <%= f.label(":category_id_#{c.id}", "#{c.title}") %><br>
    <% end %>
    <%= f.label 'Keywords' %><br>
    <% @keywords.each do |k| %>
      <%= f.radio_button(:keywords, "#{k.id}") %>
      <%= f.label(":keyword_id_#{k.id}", "#{k.title}") %><br>
    <% end %>


  <%= f.submit 'Add Recipe' %>

<% end %>