


<h2><%= @recipe.title %></h2>
<p>
Description: <%= @recipe.description %> <br>
Ingredients: <%= @recipe.ingredients %> <br>
Method: <%= @recipe.method %> <br>
Category: <%= link_to("#{@recipe.category.title}", category_path(@recipe.category_id)) %>
<br>
<img src="<%= @recipe.image %>" width="200px"><br><br>

<%= link_to('Edit', edit_recipe_path(@recipe)) %><br>
<%= button_to("Delete Recipe", recipe_path(@recipe), method: :delete, data: {confirm: 'Are you sure you want to delete this recipe?'}) %>




</p>

